name: macos-build

on:
  push:
    branches: ["**"]
  pull_request:

jobs:
  build:
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install dependencies
        run: |
          brew update
          brew install \
            gperf \
            intltool \
            boost \
            eigen \
            gtk+3 \
            gtkmm3 \
            jack \
            lilv \
            lrdf \
            libsndfile \
            fftw \
            lv2 \
            sassc

      - name: Configure
        working-directory: trunk
        run: ./waf configure --prefix=/usr/local --includeresampler --includeconvolver --optimization

      - name: Build
        working-directory: trunk
        run: ./waf build
